@mixin bg-url($url, $webp: false) {
  background-image: url($url);

  @if $webp {
    .webp & {
      background-image: url($webp);
    }
  }
}

.banner-1 {
  .banner__img {
    @include bg-url("/images/pubg.jpg", "/images/pubg.webp");
  }
}
.banner-2 {
  .banner__img {
    @include bg-url("/images/dota.jpg", "/images/dota.webp");
  }
}
.banner-3 {
  .banner__img {
    @include bg-url("/images/fortnite.jpg", "/images/fortnite.webp");
  }
}
.banner-4 {
  .banner__img {
    @include bg-url("/images/wot.jpg", "/images/wot.webp");
  }
}

.banner {
  position: relative;
  height: 100vh;
  opacity: 0.6;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0 0 25px #000000;
  }
}

.banner__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: $bannerBg;
}

