.icons-list {
  display: flex;
  list-style-type: none;
  margin-top: 4rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      text-align: left;
      margin-left: 1rem;
    }
  }
}