<!DOCTYPE html>
<html>

<head>
  <title>Challenge Stream</title>
  <link
    rel="stylesheet"
    href="<%= htmlWebpackPlugin.files.chunks.main.css %>"
  >
</head>
<body>
  <div class="wrapper">
    <div class="grid">
      <div class="banner banner-1">
        <div class="banner__img"></div>
        <div class="banner__bg"></div>
      </div>
      <div class="banner banner-2">
        <div class="banner__img"></div>
        <div class="banner__bg"></div>
      </div>
      <div class="banner banner-3">
        <div class="banner__img"></div>
        <div class="banner__bg"></div>
      </div>
      <div class="banner banner-4">
        <div class="banner__img"></div>
        <div class="banner__bg"></div>
      </div>
    </div>
    <div class="test">
     <h1>
      test
     </h1>
    </div>
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>